*/__pycache__/
__pycache__
*.pyc
odoo/
.idea
docker-compose.yml
tags
venv
*.swp
Dockerfile
local-addons/merctrans_projects/__pycache__
local-addons/merctrans_projects/controllers/__pycache__
local-addons/merctrans_projects/models/__pycache__
odoo
tags
